{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

 {% block stylesheets %}
     {# CSS fonts #}
     <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic|Montserrat:400,700' rel='stylesheet'>
     <link href="{{ asset('bundles/theme/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
     <link href="{{ asset('bundles/theme/plugins/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
     <link href="{{ asset('bundles/theme/css/animals.css') }}" type="text/css" rel="stylesheet" />
     <link href="{{ asset('bundles/theme/plugins/elegant_font/html_css/style.css') }}" type="text/css" rel="stylesheet" />
     {# colors CSS styles #}
     <link href="{{ asset('bundles/theme/colors/red.css') }}" type="text/css" rel="stylesheet" />
     <link href="{{ asset('bundles/theme/css/dark.css') }}" type="text/css" rel="stylesheet" />
     {# Others #}
     <link rel="stylesheet" href="{{ asset('bundles/theme/plugins/rs-plugin/css/settings.css')}}" media="screen">
     <link rel="stylesheet" href="{{ asset('bundles/theme/plugins/owl-carousel/owl.carousel.css') }}">
     {# main CSS style #}
     <link href="{{ asset('bundles/theme/css/style.css') }}" type="text/css" rel="stylesheet" />

 {% endblock %}

{% block javascripts %}
    {# external libraries #}
    <script src="{{ asset('bundles/theme/plugins/jquery/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ asset('bundles/theme/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    {# theme libraries #}
    <script src=" {{ asset('bundles/theme/plugins/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src=" {{ asset('bundles/theme/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>


    <script src=" {{ asset('bundles/theme/plugins/jquery.appear.js') }}"></script>
    <script src=" {{ asset('bundles/theme/plugins/retina.min.js') }}"></script>
    <script src=" {{ asset('bundles/theme/plugins/stellar.min.js') }}"></script>
    <script src=" {{ asset('bundles/theme/plugins/sticky.min.js') }}"></script>
    <script src=" {{ asset('bundles/theme/plugins/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src=" {{ asset('bundles/theme/plugins/isotope/isotope.pkgd.min.js') }}"></script>
    <script src=" {{ asset('bundles/theme/plugins/isotope/imagesloaded.pkgd.min.js') }}"></script>
    {# main theme Script #}
    <script src="{{ asset('bundles/theme/js/theme_scripts/script.js') }}"></script>

{% endblock %}

{% block body %}

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <div id="wrapper">
    {{ include('ClinicFrontBundle::header.html.twig') }}
    <!-- Do not remove this class -->
    <div class="push-top"></div>

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block front_body %}
    {% endblock %}

    {#Footer#}
    {{ include('ClinicFrontBundle::footer.html.twig') }}
    </div>{# end id="wrapper" #}
{% endblock %}