{# src/Clinic/FrontBundle/Resources/views/Brand/products.html.twig #}
{% extends "ClinicFrontBundle::main.html.twig" %}

{% block title %}{{ parent() }} - Produits {{ brand.title }}{% endblock %}


{% block front_body %}
    <!-- Parallax Section -->
    <section class="section-bg section-larger bg-img bg-products stellar"  data-stellar-background-ratio="0.4">
        <div class="bg-overlay op8"></div>
        <div class="container">
            <div class="row mt20 mb20">
                <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <h2 class="title-medium text-center color-on-img title-shadow-b">{{  brand.title }}</h2>
                    <div class="br-bottom-center mb30"></div>
                    <p class="p-large mb40 text-center color-on-img">{{ brand.description }}</p>
                    <div class="text-center"><a href="#" class="btn-slider">get quote</a></div>
                </div>
            </div>
        </div>
    </section>

    {%  for key, categoryProducts in categoriesProducts %}

        <section class="white-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title-border">{{ categoryProducts.category.title }}</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="shop-section section-page white-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            {% for product in categoryProducts.products %}
                                <div class="col-sm-6 col-md-3">
                                    <div class="shop-product">
                                        <a href="shop_product_sidebar.html" class="shop-image">
                                            {% if  product.picture %}
                                                <img src="{% path product.picture, 'small' %}" alt="{{ product.title }}">
                                            {% else %}
                                                <img src="{{ asset('bundles/theme/images/demo/shop01.jpg') }}" alt="{{ product.title }}">
                                            {% endif %}
                                            <div class="shop-prices">
                                                <ins class="shop-price">{{ product.price }}€</ins>
                                            </div>
                                        </a>
                                        <h4 class="shop-description">{{ product.title }}</h4>
                                    </div>
                                </div>
                            {%  endfor %}
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="pagination pagination-2 dark">
                                    <li class="disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endfor %}

{%  endblock %}